# SERVER
PORT=3000

# DATABASE (MySQL)
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=thong_tin_xa

# JWT
JWT_SECRET=super_secret_key_123456
JWT_ACCESS_TOKEN_EXPIRED=1d

# MAIL (Gmail)
MAIL_USER=your_email@gmail.com
MAIL_PASSWORD=your_app_password